 @charset "UTF-8";
 @media screen and (min-width : 992px) {
   aside {
      display: block !important;
   }
   main {
      grid-template-columns: 4fr 1fr  !important;
   }
   .menu-burger
   {
      display: none !important;
   }
}