@charset "UTF-8";
@font-face {
    font-family: AtkinsonHyperlegible;
    src: url(../fonts/Atkinson-Hyperlegible-Regular-102.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AtkinsonHyperlegible;
    src: url(../fonts/Atkinson-Hyperlegible-Bold-102.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: AtkinsonHyperlegible;
    src: url(../fonts/Atkinson-Hyperlegible-Italic-102.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
}