<!DOCTYPE html>
<html lang="en">
@@INCLUDE@@ head.hbs
<body>
@@INCLUDE@@ header.hbs
<main>
<article>{{content}}</article>
</main>
@@INCLUDE@@ nav.hbs
@@INCLUDE@@ postsnav.hbs
@@INCLUDE@@ footer.hbs
</body>
</html>