<footer>
  <p>
   Creative Commons (CC0 1.0 Universal),
   Generated: {{NOW}} with
    <a href="https://github.com/bracke/websitegenerator" target="_blank">WebsiteGenerator</a>
    , color scheme:
    <a href="https://github.com/morhetz/gruvbox">
      Gruvbox
    </a>
  </p>
</footer>