<aside>
	<div class="container">
		<nav>
			<ul>
            @@TABLE@@
            <li>
               <a href="{{LOWER:PAGEPATH}}">{{CAPITALIZE:PAGENAME}}</a>
            </li>
            @@END_TABLE@@
			</ul>
		</nav>
	</div>
</aside>