<aside>
	<div class="container">
		<nav>
			<ul>
            @@TABLE@@
            <li>
               <a href="/{{LOWER:POSTPATH}}">{{CAPITALIZE:POSTNAME}}</a>
            </li>
            @@END_TABLE@@
			</ul>
		</nav>
	</div>
</aside>